RAPIDAPI_KEY=your_key_here
RAPIDAPI_HOST=skyscanner-flights-travel-api.p.rapidapi.com
EXCHANGE_API_KEY=https://v6.exchangerate-api.com/v6/YOUR_KEY/latest/USD
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=some-long-random-string
JWT_EXPIRES_IN=7d